body, html {
  margin: 0px;
  text-align: center;
  display: block;
}

/* top panel */
.topPanel {
  width: 100%;
  background-color: #4a3f35;
  padding-bottom: 200px;
  margin-top: 0px;
}

.name {
  float: left;
  margin-left: 20px;
  color: #fff;
  text-align: left;
  width: 45%;
}

h1 {
  margin-top: 70px;
  font-size: 150%;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p, li {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
}

h4 {
  color: tomato;
  letter-spacing: 0.2rem;
}

.contactMeConatiner {
  float: right;
  width: 44%;
  color: #fff;
  text-align: left;
  margin-top: 50px;
  margin-right: 10px;
}

.contactMe {
  margin-bottom: 0px;
}

#contactMe {
  margin-bottom: 0px;
  margin-top: 0px;
}

a {
  color: tomato;
}

a:hover {
  background-color: #fff;
}

/* left panel  */
.leftPanel {
  width: 30%;
  float: left;
  background-color: tomato;
  padding-bottom: 665px;
  text-align: left;
  padding-left: 10px;
  height: 3600px;
}

.skills1 {
  width: 25%;
}

.no-bullets, #contactMe {
  list-style-type: none;
  padding: 0;
}

.no-bullets {
  font-weight: bolder;
}

/* right panel */
.rightPanel {
  float: right;
  width: 60%;
  text-align: left;
}

hr {
  width: 90%;
  color: tomato;
  border: solid;
  border-width: 1px;
  margin-left: 5px;
}
